language: cpp

addons:
  apt:
    sources:
    - george-edison55-precise-backports
    - ubuntu-toolchain-r-test
    - googletest
    packages:
    - gcc-5
    - g++-5
    - cmake
    - cmake-data

before_install:
  - git clone https://github.com/google/googletest
  - cd googletest
  - cmake .
  - make
  - sudo make install
  - cd ../

os:
  - linux

compiler:
  - g++

script:
  - mkdir build
  - cd build
  - cmake ../ -DCMAKE_C_COMPILER=gcc-5 -DCMAKE_CXX_COMPILER=g++-5
  - make
  - ./deque

sudo: required